<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 쿼리결과를 매핑 할때 _ 를 카멜케이스로 매핑함 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="contentsVO" type="com.hanbit.hsc.front.vo.ContentsVO"/>
		<typeAlias alias="submenuVO" type="com.hanbit.hsc.front.vo.SubmenuVO"/>
		<typeAlias alias="userVO" type="com.hanbit.hsc.front.vo.UserVO"/>
		<typeAlias alias="visitedVO" type="com.hanbit.hsc.front.vo.VisitedVO"/>
	</typeAliases>
	
</configuration>