<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 쿼리결과를 매핑 할때 _ 를 카멜케이스로 매핑함 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="countryVO" type="com.hanbit.hsc.back.vo.CountryVO"/>
		<typeAlias alias="memberVO" type="com.hanbit.hsc.back.vo.MemberVO"/>
		<typeAlias alias="memberDetailVO" type="com.hanbit.hsc.back.vo.MemberDetailVO"/>
		<typeAlias alias="diaryVO" type="com.hanbit.hsc.back.vo.DiaryVO"/>
		<typeAlias alias="fileVO" type="com.hanbit.hsc.back.vo.FileVO"/>
	</typeAliases>
	
</configuration>